<div class="content">
  <h1>This is a test of a Form</h1>

  <form [formGroup]="pokeForm" (ngSubmit)="sendRequest(pokeForm.value)">
    <label>Name: </label>
    <input formControlName="name" type="text" />
    <br />

    <label>Email: </label>
    <input formControlName="email" type="email" />
    <div *ngIf="(pokeForm.get('email').hasError('required') ||
      pokeForm.get('email').hasError('email')) &&
      pokeForm.get('email').touched">Error al ingresar el email</div>
    <br />

    <label>Password: </label>
    <input formControlName="password" type="password" />
    <br />

    <button type="submit" [disabled]="pokeForm.invalid">Send</button>
  </form>
</div>
