
<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-custom-1 text-light">
  <img
    class="img-pokemon"
    alt="Pokemon Logo"
    [src]="logoImageURL"
  />
  <div class="spacer"></div>
  <a target="_blank" rel="noopener" href="https://cli.angular.io/" title="Angular">
    <img class="img-angular" src="https://angular.io/assets/images/logos/angular/angular.png" />
  </a>
</nav>

<div role="main">
  <main-title></main-title>
  <pokemon-list></pokemon-list>
  <pokeform></pokeform>
</div>

<!-- Footer -->
<footer>
    
</footer>
<router-outlet></router-outlet>